:root{
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: #fff;
}


header {
    width: 100%;
    height: 56px;
    background: #1190cd;
    z-index: 10000000000;
    min-width: 1030px;
}

nav {
    display:flex;
    justify-content: space-between;
    height: 100%;
    width: 100% - 48px;
    padding: 0 48px;
}

nav div {
    display: flex;
}

.homeImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-right: 0.8%;
    box-sizing: border-box;
}

.homeImage {
    background-size: 50%;
    height: 24px;
    width: 130px;
    background: url(https://cdn1.vivareal.com/p/1-2122731/v/static/app/svg/styleguide/logo/vivareal-5bcdffca.svg) no-repeat 0 44%;
}
.menuButtonsContainer {
    display: flex;
}

.menuButtonsContainer li{
    display: block;
    height: 56px;
    width: fit-content;
}


.menuButtons {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.menuButtons div {
    white-space: nowrap;
    font-weight: bolder;
    font-size: 13px;
    padding-left: 16px;
    padding-right: 16px;

}

.menuButtons:hover {
    background: #249ad1;
}

.loginMenuContainer {
    right: 0;
}

/* ==================================== MAIN ================================ */


/* ------------------------------- FIND HIERARCHY ---------------------------*/
.sitePathContainer {
    padding: 0 48px;
    min-width: 934px;
    max-width: 1344px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.point::before {
    content: ".";
    color: #757575;
    position: relative;
    top: -3px;
    font-size: 20px;
    padding: 0 5px;
    color: #757575;
}

.sitePath {
    padding: 24px 0 16px;
}

.sitePath a{
    font-size: 13px;
    font-weight:100px;
    cursor: pointer;
    color: #757575;
}

.sitePath a:hover {
    cursor: pointer;
    color: #1190cd;
}

.sitePath a:last-child {
    cursor: text;
    color: #757575;
}

.sitePath a:last-child:hover {
    cursor: text;
    color: #1190cd;
}

/* ------------------------------- MAIN CONTENT ---------------------------*/
.mainGridContainer {
    display: grid;
    grid-template-columns: 288px 2fr;
    grid-gap: 24px;
    grid-template-areas: 
    "esquerda direita";
}

.findBlockContainer {
    /* height: 429px; */
    height: fit-content;
    background: #fdd685;
    border: 1px solid #fdb10f;
    border-radius: 4px;
    padding: 16px;
}

.esquerda {
    grid-area: esquerda;
    width: 100%;
}

.direita {
    /* grid-area: direta; */
    width: 100%;
}

.findBlock{
    margin-bottom: 16px;
}

.formLabel {
    font-weight: bold;
    font-size: 13px;
    color: #0000008A;
    height: 21px;
    display: flex;
    align-items: center;
}

#locationSearch {
    font-weight: 400;
    width: 226px;
    margin-top: 9px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    border-color: hsla(0,0%,100%,.001);
    padding: 11px 12px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

#locationSearch:focus {
    border: 2px solid;
    border-color: #1190cd;
}

.jsCitySearched {
    width: fit-content;
    cursor: pointer;
    height: 28px;
    margin-bottom: 8px;
}    

.jsCitySearched label span{
    height: 20px;
    cursor: pointer;
    color: #0000008a;
    font-size: 13px;
}

.jsclearSearch {
    color: #0000008a;
    background: none;
    border: none;
}

.jsclearSearch::after {
    content: " × ";
    padding: 0 4px;
    width: 14px;
    height: 14px;
}

.jsCitySearched:hover .jsclearSearch::after{
    border-radius: 32px;
    background-color: #00000066;
    color: #fdd685;
}

/* ----------------------------- SLIDER BUTTON ------------------------------ */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 32px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1190cd1a;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 2px;
    top: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1190cd;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.sliderSwitchContainer {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 24px;
}

.sliderSwitchContainer p {
    padding-left: 8px;
    color: black;
    font-size: 13px;
    font-weight: 400;
}

#typeSelection {
    font-weight: 400;
    width: 254px;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    border-color: hsla(0,0%,100%,.001);
    padding: 11px 12px;
    font-size: 13px;
    opacity: 25%;
}

#typeSelectionWhite{
    font-weight: 400;
    width: 254px;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    border-color: hsla(0,0%,100%,.001);
    padding: 11px 12px;
    font-size: 13px;
    margin-bottom: 16px;
}

#typeSelection:active {
    border-color: #1190cd;
}

.tipoImovelContainer {
    margin-bottom: 23px;
}

.inputDefault {
    font-weight: 400;
    width: 226px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    border-color: hsla(0,0%,100%,.001);
    padding: 11px 12px;
    font-size: 13px;
    margin-top: 8px;
    font-family: 'Open Sans', sans-serif;

}
.inputDefault:focus {
    border: 2px solid;
    border-color: #1190cd;
}

.faixaPreco {
    display: flex;
    justify-content: space-between;
}

#precomin {
    padding: 11px 12px 11px 32px;
    width: 71px;
    height: 18px;
    text-align: end;
}

#precomax {
    padding: 11px 12px 11px 32px;
    width: 71px;
    height: 18px;
    text-align: end;
}

#precomax::placeholder {
    text-align: end;
}

#precomax::-webkit-outer-spin-button,
#precomax::-webkit-inner-spin-button,
#precomin::-webkit-outer-spin-button,
#precomin::-webkit-inner-spin-button  {
  -webkit-appearance: none;
  margin: 0;
}

.currencyType {
    font-size: 13px;
    position: relative;
    top: -30px;
    left: 12px;
    color: #75758bc4;
}

.faixaPreco div {
    width: 119px;
}

.faixaPreco div:first-child:after{
    color: rgba(0,0,0,.12);
    content: "__";
    position: relative;
    bottom: 43%;
    left: 84%;
    width: 16px;
}

.roundButtonsContainer {
    display: flex;
    justify-content: space-between;    
    margin-top: 16px;
}

.roundButton {
    color: #0000008a;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    border-style: none;
    border-radius: 32px;
    width: 41px;
    height: 32px;
    padding: 0px 12px;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}

.roundButton:hover {
    background-color: #ebebeb;
}

.roundButtonClicked {
    color: white;
    background-color: #1190cd;
}

.roundButtonClicked:hover {
    color: white;
    background-color: #1190cd;
}

/* ------------------------------ MENU MAIN RIGHT ---------------------------- */

.menuRightContainer {
    margin-bottom: 27px;
    /* width: 100%; */
}

.menuTabsOutContainer {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 32px;
}

.menuTabs {
    display: flex;
    align-items: center;
}

.mainRightMenuButtons {
    font-size: 12px;
    font-weight: bold;
    padding: 0 24px;
    height: 44px;
    background-color: white;
    border-style: none;
    color: #1190cd;
}

.mainRightMenuButtons:hover {
    background-color: #1190cd14;
}

.mainRightMenuButtonsActive{
    cursor:unset;
    box-shadow: inset 0 -3px 0 0 #1190cd, 0 1px 0 0 #1190cd;
}

.radioMenuContainer {
    padding: 0px;
    justify-content: space-around;
    position: relative;
    right: 0;
    top: 0;
    width: auto;
}

.visualizationToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 4px;
    margin-left: 4px;
    width: 37px;
    height: 37px;
}

.visualizationToggle:hover {
    background-color: #1190cd14;
}

.radioButtonsMenu {
     display: none;
}

.visualizationToggle #radioListLabel {
    background: url(https://cdn1.vivareal.com/p/1-9637c62/v/static/app/svg/results/summary/visualization-toggle/icon-list-black.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    height: 100%;
    max-height: 24px;
    width: 24px;
}

.visualizationToggle:hover #radioListLabel {
    background: url(https://cdn1.vivareal.com/p/1-9637c62/v/static/app/svg/results/summary/visualization-toggle/icon-list-blue.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    height: 100%;
    width: 24px;
}

.visualizationToggle #radioWindows11Label{
    background: url(https://cdn1.vivareal.com/p/1-9637c62/v/static/app/svg/results/summary/visualization-toggle/icon-grid-2-black.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    max-height: 24px;
    height: 100%;
    width: 24px;
}

.visualizationToggle:hover #radioWindows11Label{
    background: url(https://cdn1.vivareal.com/p/1-9637c62/v/static/app/svg/results/summary/visualization-toggle/icon-grid-2-blue.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    max-height: 24px;
    height: 100%;
    width: 24px;
}

.visualizationToggle #radioBlocksLabel{
    background: url(https://cdn1.vivareal.com/p/1-9637c62/v/static/app/svg/results/summary/visualization-toggle/icon-grid-black.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    max-height: 24px;
    height: 100%;
    width: 24px;
}

.visualizationToggle:hover #radioBlocksLabel, .visualizationToggle:focus #radioBlocksLabel{
    background: url(https://cdn1.vivareal.com/p/1-9637c62/v/static/app/svg/results/summary/visualization-toggle/icon-grid-blue.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    content: "";
    max-height: 24px;
    height: 100%;
    width: 24px;
}

.jsNumberFoundText h1 {
    font-size: 20px;
}

.jsNumberFoundText h1 strong{
    font-size: 24px;
    font-weight: bolder;
}

.jsNumberFoundButton {
    height: 32px;
    width: fit-content;
    border-radius: 1px;
    border-color: #1190cd;
    background-color: white;
}

.jsNumberFoundButton {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 0px 20px 0px 12px;
    color: #1190cd;
    height: 32px;
    border: 1px solid;
    border-radius: 32px;
    border-color: #1190cd;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 2px;
    margin-top: 15px;
}

.jsNumberFoundButton:hover {
    background-color: #ecf6fc;
}

.jsNumberFoundButton span {
    text-align: center;
    height: 27px;
}
.jsNumberFoundButton span::after {
    right: -8px;
    top: 2px;
    font-size: 16px;
    position: relative;
    content: " × ";
    width: 16px;
    height: 16px;
}

/* ===================================== JS CARDS ========================= */

.houseOfCards article {
    cursor: pointer;
    display: grid;
    height: 240px;
    grid-template-columns: auto 1fr;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    grid-template-areas: 'esquerdaCard direitaCard';
    margin-bottom: 16px;
}

.houseOfCards article:hover {
    box-shadow: 0 4px 16px 0 rgb(0 0 0 / 12%);
}

img {
    width: 100%;
    height: 100%;
}

.imageWrapper {
    grid-area: esquerdaCard;
    height: 240px;
    width: 360px;
}

.infoOutContainer {
    padding: 16px;
    min-width: 300px;
}

.addressContainer {
    display: flex;
    align-items: center;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-size-adjust: none;
    color: #0000008a;   
    font-family: 'Open Sans', sans-serif; 
    height: 23px;
}

.nameContainer {
    display: inline-block;
    text-overflow: ellipsis;
    width: 99%;
    padding-right: 10px;
    white-space: nowrap;
    font-size: 20px;
    color: #000000de;
    line-height: 28px;
    max-height: 28px;
    overflow: hidden;
    font-weight: 400;
}

.divHeader {
    display: grid;
}

.amenitiesContainer {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: top;
}

.amenitiesContainer li {
    font-size: 13px;
    background-color: #ebebeb;  
    border-radius: 12px;  
    margin-right: 8px;
    padding: 0px 8px;
    line-height: 21px;
    color: #a8a8a8;
    font-weight: 600;
    max-height: 21px;
}

.perksContainer {
    margin: 12px 0px;
    display: flex;
}

.perksContainer li {
    font-weight: 400;
    line-height: 23px;
    padding-right: 8px;
    font-size: 13px;
}

.perkNumber {
    font-weight: 600;
}

.priceBlockContainer {
    position: relative;
    bottom: 64.89px;
    height: 49px;
    left: 376px;
    width: fit-content;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.priceContainer {
    color: #000000de;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

.condoContainer {
    line-height: 19px;
    font-size: 13px;
}

@media screen and (max-width: 1170px) {
    
    .imageWrapper {
        grid-area: esquerdaCard;
        height: 240px;
        width: 240px;
    }
    
    .priceBlockContainer {
        position: relative;
        width: fit-content;
        bottom: 64.89px;
        left: 256px;
    }

}